> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import numpy as np
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
con = sqlite3.connect("./database.sqlite")
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('sqlite_sequence',),
 ('Player_Attributes',),
 ('Player',),
 ('Match',),
 ('League',),
 ('Country',),
 ('Team',),
 ('Team_Attributes',)]

In [3]:
# Creating a collection of the dataframes 
class DataFrameCollection:
    pass
dfs = DataFrameCollection()
[ dfs.__setattr__( tablename[0], pd.read_sql_query("SELECT * FROM " + tablename[0] + ";", con) ) for tablename in tables ]
dfs.__delattr__('sqlite_sequence')

In [ ]:
# Checking how dataframes look like
print(dfs.Country.head(3))
print(dfs.League.head(3))
print(dfs.Match.head(3))
print(dfs.Player.head(3))
print(dfs.Player_Attributes.head(3))
print(dfs.Team.head(3))
print(dfs.Team_Attributes.head(3))

In [55]:
print(dfs.Match.columns[:30])

Index(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2',
       'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6',
       'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3',
       'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7',
       'away_player_X8'],
      dtype='object')

In [5]:
print(dfs.Country.columns)
print(dfs.League.columns)
print(dfs.Match.columns)
print(dfs.Player.columns)
print(dfs.Player_Attributes.columns)
print(dfs.Team.columns)
print(dfs.Team_Attributes.columns)

Index(['id', 'name'], dtype='object')
Index(['id', 'country_id', 'name'], dtype='object')
Index(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal',
       ...
       'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA'],
      dtype='object', length=115)
Index(['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday',
       'height', 'weight'],
      dtype='object')
Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')
Index(['id', 'team_api_id', 'team_fifa_api_id', 'team_long_name',
       'team_short_name'],
      dtype='object')
Index(['id', 'team_fifa_api_id', 'team_api_id', 'date', 'buildUpPlaySpeed',
       'buildUpPlaySpeedClass', 'buildUpPlayDribbling',
       'buildUpPlayDribblingClass', 'buildUpPlayPassing',
       'buildUpPlayPassingClass', 'buildUpPlayPositioningClass',
       'chanceCreationPassing', 'chanceCreationPassingClass',
       'chanceCreationCrossing', 'chanceCreationCrossingClass',
       'chanceCreationShooting', 'chanceCreationShootingClass',
       'chanceCreationPositioningClass', 'defencePressure',
       'defencePressureClass', 'defenceAggression', 'defenceAggressionClass',
       'defenceTeamWidth', 'defenceTeamWidthClass',
       'defenceDefenderLineClass'],
      dtype='object')

In [6]:
dfs.Match.head(10)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00

In [7]:
# add year column to match and team_attributes tables

print("Number of nulls in date column in Team Attributes table is: ", dfs.Team_Attributes.date.isnull().sum())
print("Number of nulls in date column in Matches Table is: ", dfs.Match.date.isnull().sum())

## Checking if date in both tables start by year
print("If value is 0  then first four characters of date are numeric - value = ",\
      dfs.Team_Attributes.date.apply(lambda d: not d[:4].isnumeric()).sum())
print("If value is 0  then first four characters of date are numeric - value = ",\
      dfs.Match.date.apply(lambda d: not d[:4].isnumeric()).sum())

## add year column to both tables and make it int
dfs.Match["Year"] = dfs.Match.date.apply(lambda d:  int(d[:4]))
dfs.Team_Attributes["Year"] = dfs.Team_Attributes.date.apply(lambda d:  int(d[:4]))

Number of nulls in date column in Team Attributes table is:  0
Number of nulls in date column in Matches Table is:  0
If value is 0  then first four characters of date are numeric - value =  0
If value is 0  then first four characters of date are numeric - value =  0

In [50]:
# add season column to Team_attributes

## Use regular expressions to check date format in both tables

## convert date string to datetime or check if it is already datetime

## 


## In Match Table groupby season applying max function to find end_season_date (end_d) when season ends
end_season_df = dfs.Match.loc[:, ['season', 'date']].groupby('season').max()
### Get a sense about the end date of the season
### It's found around the second half of May which is about 
print("When seasons end: \n", end_season_df)

## In Team_Attributes Table check date (d) of year (y) if d > end_d of season y-1/y then season is y/y+1
yearToSeason = lambda y: "%d/%d"%((y-1), y)
### Applying a function to two columns
dfs.Team_Attributes['season'] = dfs.Team_Attributes.loc[:, ["Year", "date"]].apply(lambda record: "%d/%d"%(record.Year, record.Year+1) if (record.date > end_season_df.loc[yearToSeason(record.Year)]).any() else "%d/%d"%(record.Year-1, record.Year), axis=1)
### Let's take a peek to check 
dfs.Team_Attributes.loc[:,['season', 'date']].head(10)

When seasons end:
                           date
season
2008/2009  2009-05-31 00:00:00
2009/2010  2010-05-16 00:00:00
2010/2011  2011-05-29 00:00:00
2011/2012  2012-05-23 00:00:00
2012/2013  2013-06-02 00:00:00
2013/2014  2014-05-18 00:00:00
2014/2015  2015-05-31 00:00:00
2015/2016  2016-05-25 00:00:00

      season                 date
0  2009/2010  2010-02-22 00:00:00
1  2014/2015  2014-09-19 00:00:00
2  2015/2016  2015-09-10 00:00:00
3  2009/2010  2010-02-22 00:00:00
4  2010/2011  2011-02-22 00:00:00
5  2011/2012  2012-02-22 00:00:00
6  2013/2014  2013-09-20 00:00:00
7  2014/2015  2014-09-19 00:00:00
8  2015/2016  2015-09-10 00:00:00
9  2009/2010  2010-02-22 00:00:00

In [58]:
# Fill Team Attributes with wins, losses and draws
cols = ['season', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal']

dfs.__setattr__("match_clean", dfs.Match.loc[:, cols].copy())

dfs.match_clean["home_win"] = dfs.match_clean.home_team_goal > dfs.match_clean.away_team_goal
dfs.match_clean["home_loss"] = dfs.match_clean.home_team_goal < dfs.match_clean.away_team_goal
dfs.match_clean["match_draw"] = dfs.match_clean.home_team_goal == dfs.match_clean.away_team_goal

In [96]:
## match_clean Table groupby to get number of wins
## Revisit : remember columns in Team_Attributes Table
cols1 = ["season","home_team_api_id", "home_win", "home_loss", "match_draw"]
cols2 = ["season","away_team_api_id", "home_win", "home_loss", "match_draw"]

tmp_home_stats = dfs.match_clean.loc[:, cols1].groupby(["season", "home_team_api_id"]).sum()
tmp_away_stats = dfs.match_clean.loc[:, cols2].groupby(["season", "away_team_api_id"]).sum()
tmp_home_stats.rename(columns={"home_win":"win", "home_loss": "loss", "home_team_api_id": "team_api_id"}, inplace=True)
tmp_away_stats.rename(columns={"home_win":"loss", "home_loss": "win", "away_team_api_id": "team_api_id"}, inplace=True)

In [97]:
## Review new dataframe
team_stats = pd.merge(tmp_home_stats, tmp_away_stats, on=['season', 'team_api_id']).sum(axis=1)

KeyError: 'team_api_id'

In [93]:
tmp_away_stats

                            loss  win  match_draw
season    away_team_api_id
2008/2009 1601               8.0  3.0         4.0
          1957              10.0  0.0         5.0
          2182               2.0  9.0         4.0
          2183               4.0  8.0         3.0
          2186              11.0  1.0         3.0
...                          ...  ...         ...
2015/2016 158085             3.0  5.0         9.0
          177361             7.0  3.0         5.0
          188163            10.0  5.0         2.0
          208931            10.0  3.0         6.0
          274581             7.0  4.0         4.0

[1481 rows x 3 columns]

In [75]:
##tmp_home_stats.loc['2008/2009', :].loc[:, 'home_win']

home_team_api_id
1601      6.0
1957      9.0
2182      7.0
2183      7.0
2186      6.0
         ...
10264     8.0
10265    13.0
10267    12.0
10269    12.0
10281     8.0
Name: home_win, Length: 188, dtype: float64

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.


# Creating new dataframe joining team_attributes with its number of wins from match table

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!